In [58]:
import pandas as pd

In [123]:
t9_lookup = {
    "ABC" : "2",
    "DEF" : "3",
    "GHI" : "4",
    "JKL" : "5",
    "MNO" : "6",
    "PQRS" : "7",
    "TUV" : "8",
    "WXYZ" : "9",
}

def is_char_in_key(char: str, key: str) -> bool:
    return char.upper() in key

def format_phone_number(phone_number_string: str) -> str:
    return f"{phone_number_string[:3]}-{phone_number_string[3:6]}-{phone_number_string[6:]}"



def row_to_phone(row) -> str:
    last_name = "".join(row['name'].split(" ")[1:])
    if len(last_name) != 10:
        return ""
    last_name = last_name.replace(" ", "")
    output_phone_num_str = ""
    for character in last_name:
        for key in t9_lookup.keys():
            if is_char_in_key(character, key):
                output_phone_num_str += t9_lookup[key]
                break
    return format_phone_number(output_phone_num_str)

# Name -> Phone lookup
First, we want to try and match the person's name and their phone number using the convention:
```
ABC     : 2
DEF     : 3
GHI     : 4
JKL     : 5
MNO     : 6
PQRS    : 7
TUV     : 8
WXYZ    : 9
<space> : 0
```

In [124]:
# Load our file
try:
    with open("noahs-customers.csv", "r") as rfp:
        df = pd.read_csv(rfp)
except FileNotFoundError:
    print("Failed to open the file.")

df[['name', 'phone']]

                   name         phone
0            Jack Quinn  805-287-8515
1          David Powell  516-768-1652
2          Carrie Green  727-209-0470
3         Steven Miller  607-941-9563
4      Christine Powers  212-759-9043
...                 ...           ...
11075   Catherine Wells  716-656-2836
11076      Kevin Cooper  315-496-6981
11077    Darius Johnson  716-797-4450
11078        Ryan Jones  415-584-2656
11079     Gregory Weiss  516-736-1869

[11080 rows x 2 columns]

In [126]:
# Show just the interesting columns

sub_df = df[['name', 'phone']]
sub_df['name_to_phone'] = sub_df.apply(row_to_phone, axis=1)
sanitized = sub_df.query("name_to_phone != '' ")
sanitized['res'] = sanitized.phone == sanitized.name_to_phone


result = sanitized.loc[sanitized['res'] == True]
print(result)

                name         phone name_to_phone   res
2187  Sam Guttenberg  488-836-2374  488-836-2374  True

C:\Users\AlonBudker\AppData\Local\Temp\ipykernel_16040\3647097142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['name_to_phone'] = sub_df.apply(row_to_phone, axis=1)
C:\Users\AlonBudker\AppData\Local\Temp\ipykernel_16040\3647097142.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanitized['res'] = sanitized.phone == sanitized.name_to_phone